body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 100px;
    background-color: rgb(3, 53, 36);
}
.container>:nth-child(6){
    background-color: blue;
}
.container>:nth-child(6)>p{
    color: white;
}
.number{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    margin: 13px;
}
.number>p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    bottom: 25px;
    color: brown;
    font-weight: 900;
}
button{
    width: 200px;
    height: 60px;
    position: relative;
    top: 430px;
    left: 42%;
    transform: translate(-50%,-50%);
    background-color: chartreuse;
    border: 1px dotted ;
    cursor: pointer;
    margin: 10px;
    border-radius: 100px;
    transition: 0.8s all;
}
button:hover{
    background-color: blueviolet;
    color: white;
    font-size: 18px;
}
.header{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: cornflowerblue;
    padding: 10px;
    width: 300px;
    border: 1px dotted greenyellow;
    border-radius: 20px;
    color: yellow;
    font-weight: bolder;
}
.game-over{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:url("https://media.tenor.com/SJ3utmi8-qMAAAAM/chipmunk-chippunk.gif");
    width: 200px;
    height: 150px;
    z-index: 1;
    color:black;
    text-align:center;
    display: none;
}
.game-celebrate{
    background: url("https://media.tenor.com/KmO0ZsSmxsEAAAAM/celebration-dance.gif");
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 150px;
    z-index: 1;
    color:rgb(0, 247, 255);
    text-align:center;
    display: none;

}

/* Responsiv  */
@media only screen and (max-width: 768px) {
    .container{
        width: 300px;
        height: 50px;
    }
    .number{
        width:30px;
        height: 30px;
        background-color: aquamarine;
        margin: 5px;
    }
    .number>p{
        font-size: 26px;
    }
    button{
        display: block;
        width: 150px;
        height: 40px;
        top: 430px;
        left: 50%;

    }
    button:hover{
        font-size: 16px;
    }
    .header{
        top: 35%;
        left: 50%;
    }
}


@media only screen and (max-width: 568px) {

    button{
        top: 300px;
    }

}
@media only screen and (max-width: 812px) {

    button{
        top: 400px;
    }

}
@media only screen and (max-width: 915px) {

    button{
        top: 500px;
    }

}
